# Virtual environment
clemv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Django stuff:
# (keep DB, media and static tracked — removed default ignores so these can be committed)

# Env files
.env

# VSCode
.vscode/

# Python virtualenvs
venv/
env/
.venv/
